html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    min-width: 320px;
    min-height: 100vh;
    position: relative;
    width: 100%;
    margin: 0 auto;
}
img, svg {
    max-width: 100%;
    max-height: 100%;
}
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 820px;
    width: 100%;
    height: auto;
}
.title {
    font-size: 3rem;
    color: #84caca;
    text-align: center;
}